.h-30rem {
  height: 30rem !important;
}

.save-btn {
  padding: 8px 30px;
  margin: 0;
  background-color: #ed143d;
}

.preview-btn {
  padding: 8px 30px;
  margin: 0;
  background-color: #4caf50;
}

.date-card {
  width: 14rem;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  display: flow-root;
}

.color-crimson {
  color: #ed143d;
}

.contain {
  object-fit: contain !important;
}

.cover {
  object-fit: cover !important;
}

.maxh20rem {
  max-height: 20rem !important;
}

.edit-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scaleX(1.1) scaleY(1.1);
    filter: invert(19%) sepia(100%) saturate(5381%) hue-rotate(342deg)
      brightness(95%) contrast(96%);
  }
}

::ng-deep .mat-tooltip {
  background-color: black !important;
  color: white !important;
  padding: 6px 10px !important;
  min-width: unset !important;
  font-weight: 600 !important;
}
