<div class="main-content">
  <!-- Progress Bar -->
  <div class="progress-bar-wrapper" *ngIf="uploading">
    <p class="mb-2 text-light">Uploading Image... {{ uploading_progress }}%</p>
    <div class="progress-bar">
      <div
        class="progress-bar-fill"
        [ngStyle]="{ 'width.%': uploading_progress % 100 }"
      ></div>
    </div>
  </div>
  <!-- Progress Bar -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-light-subtle row m-0">
            <div class="col d-flex align-items-center">
              <h4 class="card-title text-light">All Images</h4>
            </div>

            <div class="col d-flex justify-content-end">
              <div class="d-flex align-items-center">
                <mat-icon
                  (click)="revertOrder()"
                  matTooltip="Set to default sort order"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  class="mr-4 text-light refresh-btn"
                  style="font-size: 21px"
                  aria-hidden="false"
                  aria-label="Refresh"
                  fontIcon="refresh"
                ></mat-icon>
              </div>
              <div
                [ngClass]="not_saved_order ? 'btn-primary' : ''"
                class="btn mr-4"
                (click)="updateSortOrder()"
              >
                <mat-icon
                  class="mr-2"
                  style="font-size: 21px"
                  aria-hidden="false"
                  aria-label="List"
                  fontIcon="view_list"
                ></mat-icon>
                Save Sort Order
              </div>
              <div class="btn btn-primary" (click)="addNewBanner()">
                Add New Project
              </div>
            </div>
          </div>
          <div class="card-body">
            <div
              *ngIf="isLoading"
              class="d-flex align-items-center justify-content-center w-100 h-20rem"
            >
              <mat-spinner [diameter]="50"></mat-spinner>
            </div>

            <table
              class="table table-sm table-bordered table-striped text-center"
              *ngIf="!isLoading"
            >
              <thead>
                <tr>
                  <th scope="col">Id <i>(Sort By Dragging)</i></th>
                  <th scope="col">Details</th>
                  <th scope="col">Preview</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr cdkDrag cdkDragLockAxis="y" *ngFor="let data of dataSource">
                  <td cdkDragHandle>
                    <div class="row m-0 justify-content-center">
                      <div class="mr-4">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="Drag"
                          fontIcon="drag_indicator"
                        ></mat-icon>
                      </div>
                      <div>{{ data.id }}</div>
                    </div>
                  </td>
                  <td cdkDragHandle>
                    <p class="mb-0">
                      <b>{{ data.title }}</b>
                    </p>
                    <p>{{ data.subtitle }}</p>
                  </td>
                  <td>
                    <img
                      style="cursor: pointer"
                      (click)="enlargeImage(data.image)"
                      src="{{ data.image }}"
                      alt="img"
                      width="120"
                      height="100"
                    />
                  </td>
                  <td>
                    <mat-icon
                      mat-button
                      [matMenuTriggerFor]="menu"
                      class="more_actions_btn"
                      aria-hidden="false"
                      aria-label="More Actions"
                      fontIcon="more_horiz"
                    ></mat-icon>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="edit(data)">
                        <mat-icon
                          class="sub-menu-icon-edit"
                          aria-hidden="false"
                          aria-label="Edit"
                          fontIcon="edit"
                        ></mat-icon
                        >Edit
                      </button>
                      <button mat-menu-item (click)="delete(data)">
                        <mat-icon
                          class="sub-menu-icon-delete"
                          aria-hidden="false"
                          aria-label="Edit"
                          fontIcon="delete"
                        ></mat-icon
                        >Delete
                      </button>
                    </mat-menu>
                  </td>

                  <!-- Preview -->
                  <div
                    *cdkDragPreview
                    matchSize="true"
                    class="container dragdrop-placeholder"
                  >
                    {{ data.title }}
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
